<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <a href="/"><h1 class="text-3xl font-bold">ACCESSKEY MANAGER</h1></a>
        </div>
    </nav>


    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">

          <form id="paymentForm" class="space-y-4" method="POST">
            {% csrf_token %}
            <h4>Make payment for: GHS {{payment.amount}}</h4>
            <script src="https://js.paystack.co/v1/inline.js"></script>
            <button class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700" onclick="payWithPaystack()" type="submit">Make payment</button>
            
        </form>

        </div>
    </div>

    <script>
        const paymentForm = document.getElementById('paymentForm');
        paymentForm.addEventListener("submit", payWithPaystack, false);

        function payWithPaystack(e) {
        e.preventDefault();

        let handler = PaystackPop.setup({
          key: '{{paystack_pk}}', // Replace with your public key
          email: "{{payment.email}}",
          amount: "{{payment.amount}}" * 100,
          currency: 'GHS',
          ref: '{{payment.ref}}', // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
          // label: "Optional string that replaces customer email"
          onClose: function(){
            alert('Window closed.');
          },
          callback: function(response){
            window.location = "{% url 'verify_payment' payment.ref %}"
          }
        });

        handler.openIframe();
      }
    </script>
</body>
</html>




