<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <a href="/"><h1 class="text-3xl font-bold">ACCESSKEY MANAGER</h1></a>
        </div>
    </nav>
    <br>
        
        <p>We've emailed you instructions for setting your password, 
            if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered 
            the address you registered with, and check your spam folder.</p>

    </body>
    </html>